ortest
./test
htmls
**/__pycache__
__pycache__/
__pycache__
/__pycache__
./__pycache__
google-cloud-cli-473.0.0-linux-x86_64.tar.gz
google-cloud-sdk/
venv/
.venv/
.env
.env-stg
.env-prd
alianca-ops-ped-ca.json
.vscode/
.pytest_cache/
.coverage
